@implements IDisposable
@inherits LayoutComponentBase
@* @inject ThemeService ThemeService *@
@inject NavigationManager NavManager

@code{
    private string currentPath => NavManager.ToBaseRelativePath(NavManager.Uri);
}

<div class="page">

    @if (currentPath.ToString().Contains("home"))
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    @if (currentPath != "home")
    {
        <footer class="app-footer">...</footer>
    }

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="app-content">
            @Body
        </article>

        <footer class="app-footer">
            <div class="container-footer">
                <div class="row">
                    <!-- Left: Copyright, Sync & Online Status -->
                    <div class="col">
                        <p class="">Copyright &copy; 2013 - @DateTime.Now.Year Deuda App. </p>
                    </div>

                    <div class="row">
                        <span class="status-indicator @(IsOnline ? "online" : "offline")">&emsp; @(IsOnline ? "Online" : "Offline")</span>
                    </div>

                    <div class="row">
                        <button class="btn " @onclick="ToggleTheme" disabled="@(!IsOnline || IsSyncing)">
                            <i class="bi bi-arrow-repeat @(IsSyncing ? "spin" : "")"></i>
                        </button>  
                    </div>

                    <!-- Right: App Version -->
                    @* <div class="col">
                        <small class="text-muted">
                            <i class="bi bi-arrow-repeat @(isSyncing ? "spin" : "")"></i>
                            Last Synced: @lastSynced.ToString("HH:mm:ss")
                        </small>
                        <span class="badge rounded-pill bg-light text-dark border">v@AppVersion</span>
                    </div> *@
                </div>
            </div>
        </footer>
        <nav class="footer">
            <a href="#" class="nav-item">
                <img alt="Home" class="nav-icon" src="@(IsDark ? "images/dashboard_dark.png" : "images/dashboard_light.png")" />
                <span class="nav-txt">Home</span>
            </a>
            <a href="#" class="nav-item">
                <img alt="Payments" class="nav-icon" src="@(IsDark ? "images/payment_dark.png" : "images/payment_light.png")" />
                <span class="nav-txt">Payments</span>
            </a>
            <a href="#" class="nav-item active">
                <img alt="Add" class="nav-icon" src="@(IsDark ? "images/add_dark.png" : "images/add_light.png")" />
                <span class="nav-txt">Add</span>
            </a>
            <a href="#" class="nav-item">
                <img alt="Support" class="nav-icon" src="@(IsDark ? "images/settings_dark.png" : "images/settings_light.png")" />
                <span class="nav-txt">Accounts</span>
            </a>
            <a href="#" class="nav-item">
                <img alt="Support" class="nav-icon" src="@(IsDark ? "images/support_dark.png" : "images/support_light.png")" />
                <span class="nav-txt">Support</span>
            </a>
        </nav>
    </main>
</div>
